<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.WebRTC-Experiment.com/RecordRTC.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Register</h2>
    <form id="registrationForm">
        <input type="text" name="username" placeholder="Username" required class="form-control"><br>
        <input type="email" name="email" placeholder="Email" required class="form-control"><br>
        <input type="password" name="password" placeholder="Password" required class="form-control"><br>
        <input type="password" name="passwordConf" placeholder="Confirm Password" required class="form-control"><br>
        <button type="button" onclick="startRecording(this);" class="btn btn-primary">Record Voice</button><br><br>
        <audio controls hidden></audio><br>
        <button type="submit" class="btn btn-success">Register</button>
    </form>
    <script>
    var recordRTC;
    function startRecording(button) {
        navigator.mediaDevices.getUserMedia({ audio: true }).then(function(stream) {
            var options = {
                type: 'audio',
                mimeType: 'audio/wav',
                numberOfAudioChannels: 1
            };
            recordRTC = RecordRTC(stream, options);
            recordRTC.startRecording();
            button.disabled = true;
            setTimeout(function() {
                recordRTC.stopRecording(function() {
                    var audio = document.querySelector('audio');
                    audio.src = recordRTC.toURL();
                    audio.hidden = false;
                    $(button).text('Record Again').prop('disabled', false);
                });
            }, 3000); // record for 3 seconds
        });
    }

    $('#registrationForm').submit(function(event) {
        event.preventDefault();
        var formData = new FormData(this);
        recordRTC.getDataURL(function(dataURL) {
            formData.append('audioBlob', dataURL);
            $.ajax({
                url: '/',
                type: 'POST',
                data: formData,
                success: function(response) {
                    alert('Registration successful!');
                    location.reload();
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    });
    </script>
</div>
</body>
</html>
